bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

.vs/

*.nupkg
*.snupkg
**/[Pp]ackages/

*.log
*.tmp
*.pidb
*.pdb


**/*.[Tt]ests/
**/*.[Tt]est/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
TestResult.xml
*.coverage

.DS_Store
Thumbs.db
*.tmp

*.env
secrets.json

*.resharper
*.DotSettings.user
*.dotCover

*.pubxml
*.publishproj

#db-data/
#postgres-data/